/* norfolk http://underscores.me Write your theme styles here */
a:hover, a:focus { text-decoration: none; }

strong { font-weight: 700; }

h1, h2, h3 { margin: 12px 0 10px; margin: 6px 0 2px; }

h4, h5, h6 { margin: 6px 0 4px; margin: 2px 0 0px; font-size: 16px; }

h1 { font-size: 30px; line-height: 1.4em; line-height: 1.2em; }

h2 { font-size: 24px; line-height: 1.3em; color: #365684; margin: 8px 0 6px; }

h3 { font-size: 20px; line-height: 1.3em; margin: 8px 0 6px; }

h4 { font-size: 18px; }

hr { margin: 8px 0; padding: 0; }

ul, ol { margin: 0 0 1.5em 3em; margin: 0 0 1.25em 0; padding: 0 0; }

ul li, ol li { margin: 0 0 0 2em; padding: 0; }

input { font-weight: 400; }

input[type="submit"] { color: #fff; text-shadow: none; box-shadow: none; font-size: 14px; font-weight: 400; }

input[type="submit"]:hover { box-shadow: none; }

.wp-caption { margin-bottom: 4px; }

.wp-caption .wp-caption-text { margin: 0 0 0.8em; }

.page .entry-content img { padding: 5px; }

@media only screen and (min-width: 600px) { .page .entry-content img { padding: 5px 10px 10px 5px; } }

.hentry { margin: 0 0 .5em; }

.page-header { margin: 0px 0; padding: 0; border: 0; }

.container { background-color: #efe9e5; padding-left: 22px; }

@media only screen and (min-width: 600px) { .container { padding: 0 42px; } }

.container.header { padding-top: 20px; }

@media only screen and (min-width: 600px) { .container.header { border-top-right-radius: 10px; border-top-left-radius: 10px; margin-top: 20px; padding-top: 25px; } }

.site-branding { text-transform: uppercase; }

.site-branding a { text-decoration: none; }

.site-branding a h1 { color: #93282a; font-size: 24px; }

.site-branding a h2 { color: #84745b; font-size: 16px; }

.nav li a { text-transform: uppercase; }

.navbar { margin-bottom: 8px; }

.navbar-default { background-color: transparent; }

.navbar-default .navbar-header { border-bottom: 1px solid #93282a; }

@media only screen and (min-width: 850px) { .navbar-default .navbar-header { border-bottom: 1px solid transparent; } }

@media only screen and (min-width: 600px) { .navbar-default { border-color: transparent; } }

.navbar-default .navbar-toggle { margin-bottom: 4px; padding-bottom: 0px; float: left; box-shadow: none; background-color: transparent; border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar { width: 32px; }

.navbar-default .nav li { margin-left: 30px; }

@media only screen and (min-width: 850px) { .navbar-default .nav li { margin-left: -15px; } }

.navbar-default li { background-color: transparent; margin: 0; padding: 5px 10px; }

.navbar-default li a { border-bottom: 1px solid brown; }

@media only screen and (min-width: 850px) { .navbar-default li { border-color: transparent; }
  .navbar-default li a { border-color: transparent; }
  .navbar-default li a:last-child { border-color: transparent; } }

.navbar-default .navbar-nav > li > a:hover { background-color: #e6dfda; }

.navbar-default .navbar-nav > li.current-menu-item a, .navbar-default .navbar-nav > li.current-menu-parent > a { background-color: #e6dfda; }

.navbar-default .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #93282a; }

.navbar-default .navbar-nav > li > a { color: #84745b; }

.navbar-default .navbar-nav > li { padding: 0; }

@media only screen and (min-width: 850px) { .navbar-default .navbar-nav > li { padding: 5px 10px; } }

.navbar-default .navbar-nav > li a { padding: 10px 15px; border-radius: 0; }

@media only screen and (min-width: 850px) { .navbar-default .navbar-nav > li a { padding: 4px 6px; border-radius: 6px; } }

@media only screen and (min-width: 850px) { .navbar-default #main-primary-menu { border-bottom: 1px solid #93282a; } }

@media only screen and (min-width: 850px) { .navbar-default #main-primary-sub-menu { border-bottom: 2px solid #93282a; } }

.navbar-default #main-primary-sub-menu li { padding: px 10px; }

.navbar-default #main-primary-sub-menu li a { text-transform: capitalize; }

.navbar-collapse { margin-left: 0; padding-left: 0; }

.search-form { margin: 10px 15px; float: right; }

.search-form .search-field { width: 150px; font-family: Arial, sans-serif; }

.search-glass-mobile { margin: 10px 0; margin: 14px 0 4px; padding: 0; padding-right: 6%; font-size: 24px; float: right; }

.search-glass-mobile a { cursor: pointer; }

.search-mobile { float: right; padding: 10px 0px 5px 60px; }

.search-mobile .search-form { width: 100%; }

.search-mobile .search-form label { width: 100%; }

.search-mobile .search-form .search-field { width: 92%; }

.search-mobile .search-form .search-submit { display: none; }

.search-desktop { float: right; padding: 0px 40px 0px 30px; }

.search-desktop .search-form label { width: 100%; float: right; }

.search-desktop .search-form .search-field { width: 100%; min-width: 500px; float: right; }

.search-desktop .search-form .search-submit { display: none; }

.search-results a:hover, .search-results a:focus, .search-no-results a:hover, .search-no-results a:focus, .error404 a:hover, .error404 a:focus { text-decoration: underline; }

.search-results .search-form, .search-no-results .search-form, .error404 .search-form { float: left; margin-left: 0; }

.page-content, .entry-content, .entry-summary { margin: 0 0 0; }

.display-table { display: table; table-layout: fixed; }

.display-cell { display: table-cell; vertical-align: middle; float: none; }

.home .entry-content .cards a { font-weight: 700; font-size: 16px; }

.home .entry-content .cards .card { padding-bottom: 24px; }

@media only screen and (min-width: 850px) { .home .entry-content .cards .card { padding-bottom: 8px; } }

.home .entry-content .cards .col-xs-12 { margin: auto; text-align: center; }

.container.content { padding-bottom: 20px; }

.exhibition .featured-image, .collection .featured-image, .event .featured-image, .type-post .featured-image { margin-bottom: 20px; }

article.event { padding-top: 10px; padding-bottom: 5px; }

@media only screen and (min-width: 600px) { article.event { padding-bottom: 10px; } }

.type-post .entry-header { padding-bottom: 15px; }

.container.footer { background-color: #dbd3cd; }

@media only screen and (min-width: 600px) { .container.footer { border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; margin-bottom: 20px; } }

.container.footer .fa { font-size: 18px; }

.container.footer .site-footer { padding: 15px 0px; }

@media only screen and (min-width: 600px) { .container.footer .site-footer { padding: 25px 0px; } }

.container.footer .site-info { padding: 6px 0; }

@media only screen and (min-width: 600px) { .container.footer .site-info { padding: 0; padding: 0px 36px; } }

.container.footer .navigation { text-transform: uppercase; letter-spacing: 1.3px; font-size: 18px; font-weight: 700; text-align: center; }

@media only screen and (min-width: 600px) { .container.footer .navigation { text-align: left; } }

.container.footer .social { text-align: center; }

@media only screen and (min-width: 600px) { .container.footer .social { text-align: right; } }

.container.footer .copyright { text-align: center; }

@media only screen and (min-width: 600px) { .container.footer .copyright { text-align: left; } }

.woocommerce .product_meta .posted_in { display: none; }

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button { background-color: #93282a !important; color: white; }

.woocommerce a.button { color: white !important; }

.woocommerce input.button:hover { color: white !important; }

.woocommerce ul.products li.product h3 { font-size: 20px; }

.woocommerce ul.products li.product .price .amount { font-size: 16px; }

.woocommerce.add_to_cart_inline { border: 0 !important; }

.woocommerce.add_to_cart_inline .suggested-text { display: none; }

.woocommerce.add_to_cart_inline .amount { display: none; }

.ctct-button { background-color: #93282a !important; color: white; box-shadow: none; }

.ctct-button:hover { box-shadow: none; }

/*# sourceMappingURL=main.css.map */