@import "../../bower_components/sass-bootstrap/lib/_mixins.scss";
@import "../../bower_components/sass-bootstrap/lib/_variables.scss";
/*
 * norfolk
 * http://underscores.me
 *
 * Write your theme styles here
 */

 ///////////////////////////////////////////////////////////////////////////////
// colors
$nhs-red: #93282a;
$nhs-brown: #84745b;
$nhs-radius: 10px;
$nhs-tan: #efe9e5;
$nhs-blue: #365684;

///////////////////////////////////////////////////////////////////////////////
// general
a, a:visited, a:active {

}
a:hover, a:focus {
  text-decoration: none;
}
strong {
  font-weight: 700;
}
h1, h2, h3 {
  margin: 12px 0 10px;
  margin: 6px 0 2px;
}
h4, h5, h6 {
  margin: 6px 0 4px;
  margin: 2px 0 0px;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  line-height: 1.4em;
  line-height: 1.2em;
}
h2 {
  font-size: 24px;
  line-height: 1.3em;
  color: $nhs-blue;
  margin: 8px 0 6px;

}
h3 {
  font-size: 20px;
  line-height: 1.3em;
  margin: 8px 0 6px;
}
h4 {
  font-size: 18px;
}
hr {
  margin: 8px 0;
  padding: 0;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
	margin: 0 0 1.25em 0;
  padding: 0 0;
  li {
    margin: 0 0 0 2em;
    padding: 0;

  }
}
input {
  font-weight: 400;
}
input[type="submit"] {
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
}

input[type="submit"]:hover {
  box-shadow: none;
}

// WordPress CSS
.wp-caption {
  margin-bottom: 4px;
}
.wp-caption .wp-caption-text {
  margin: 0 0 0.8em;
}
.page .entry-content img {
  padding: 5px;
  @media only screen and (min-width: $screen-sm) {
    padding: 5px 10px 10px 5px;
  }
}
.hentry { margin: 0 0 .5em;}

// bootstrap
.page-header {
  margin: 0px 0;
  padding: 0;
  border: 0;
}

///////////////////////////////////////////////////////////////////////////////
// container
.container {
  background-color: $nhs-tan;
  padding-left: 22px;
  @media only screen and (min-width: $screen-sm) {
    padding: 0 42px;
  }
}


///////////////////////////////////////////////////////////////////////////////
//header
.container.header {
  padding-top: 20px;
  @media only screen and (min-width: $screen-sm) {
    border-top-right-radius: $nhs-radius;
    border-top-left-radius: $nhs-radius;
    margin-top: 20px;
    padding-top: 25px;
  }
}

.site-branding {
  text-transform: uppercase;
  a {
    text-decoration: none;
    h1 {
      color: $nhs-red;
      font-size: 24px;
    }
    h2 {
      color: $nhs-brown;
      font-size: 16px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// navigation

.nav li a {
  text-transform: uppercase;
}
.navbar {
  margin-bottom: 8px;
}

.navbar-default {
  background-color: transparent;

  .navbar-header {
    border-bottom: 1px solid $nhs-red;
    @media only screen and (min-width: $screen-md) {
      border-bottom: 1px solid transparent;
    }
  }


  @media only screen and (min-width: $screen-sm) {
    border-color: transparent;
  }


  .navbar-toggle {
    margin-bottom: 4px;
    padding-bottom: 0px;
    float:left;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    .icon-bar {
      width: 32px;
    }
  }

  .nav {
    li {
      margin-left: 30px;
      @media only screen and (min-width: $screen-md) {
        margin-left: -15px;
      }
    }
  }

  li {
    background-color: transparent;
    margin: 0;
    padding: 5px 10px;
    a {
      border-bottom: 1px solid brown;
    }
    a:last-child {
//      margin-top: -1px;
    }

    @media only screen and (min-width: $screen-md) {
      border-color: transparent;
      a {
        border-color: transparent;
      }
      a:last-child {
        border-color: transparent;
      }
    }

  }

  .navbar-nav > li > a:hover {
    background-color: #e6dfda;
  }
  .navbar-nav > li.current-menu-item a,
  .navbar-nav > li.current-menu-parent > a,
   {
    background-color: #e6dfda;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $nhs-red;
  }

  .navbar-nav > li > a {
    color: $nhs-brown;
  }

  .navbar-nav > li {
    padding: 0;
    @media only screen and (min-width: $screen-md) {
      padding: 5px 10px;
    }

    a {
      padding: 10px 15px;
      border-radius: 0;
      @media only screen and (min-width: $screen-md) {
        padding: 4px 6px;
        border-radius: 6px;
      }
    }
  }
#main-primary-menu {
  //border-bottom: 1px solid $nhs-red;
  @media only screen and (min-width: $screen-md) {
    border-bottom: 1px solid $nhs-red;
  }
}

#main-primary-sub-menu {
//  margin-left: 30px;
  @media only screen and (min-width: $screen-md) {
    border-bottom: 2px solid $nhs-red;
  }

  li {
    padding: px 10px;
    a {
      text-transform: capitalize;
    }
  }
}

}
.navbar-collapse {
  margin-left: 0;
  padding-left: 0;
}


///////////////////////////////////////////////////////////////////////////////
// search form
.search-form {
	margin: 10px 15px;
  float:right;

	.search-field {
		width: 150px;
//		color: $color-orange;
    font-family: Arial, sans-serif;
	}
}


.search-glass-mobile {
  margin: 10px 0;
  margin: 14px 0 4px;
  padding: 0;
  padding-right: 6%;
  font-size: 24px;
  float: right;
  a {
    cursor: pointer;
  }
}

.search-mobile {
	float:right;
  padding: 10px 0px 5px 60px;

	.search-form {
    width: 100%;
		label {
      width: 100%;
    }
    .search-field {
			width: 92%;
		}
		.search-submit {
			display: none;
		}
	}
}

// desktop search-glass is in WP Menu custom link

.search-desktop {
	float:right;
  padding: 0px 40px 0px 30px;

	.search-form {
		label {
			width: 100%;
			float:right;
		}
		.search-field {
			width: 100%;
      min-width: 500px;
			float:right;
		}
		.search-submit {
			display: none;
		}
	}
}

// results page
.search-results, .search-no-results, .error404 {
  a:hover, a:focus {
    text-decoration: underline;;
  }
  .search-form {
    float: left;
    margin-left: 0;
  }
}


///////////////////////////////////////////////////////////////////////////////
// WordPress content
.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0;
}

///////////////////////////////////////////////////////////////////////////////
// content

// vertical align columns
.display-table{
    display: table;
    table-layout: fixed;
}
.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

// front page, home
.home .entry-content .cards {

  a {
    font-weight: 700;
    font-size: 16px;
  }
  .card {
    padding-bottom: 24px;
    @media only screen and (min-width: $screen-md) { // small > 768px, tablet, portrait
      padding-bottom: 8px;
    }
  }
  .col-xs-12 {
    margin: auto;
    text-align: center;
  }
}

.container.content {
  padding-bottom: 20px;
}

// events, exhibitions
.exhibition, .collection, .event, .type-post {
  .featured-image {
    margin-bottom: 20px;
  }
  .content {
//    padding-bottom: 20px;
  }
}
article.event {

  padding-top: 10px;
  padding-bottom: 5px;
  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 10px;
  }
}

.type-post {
  .entry-header {
    padding-bottom: 15px;
  }
}

///////////////////////////////////////////////////////////////////////////////
// footer
.container.footer {
  background-color: #dbd3cd;
  @media only screen and (min-width: $screen-sm) {
    border-bottom-right-radius: $nhs-radius;
    border-bottom-left-radius: $nhs-radius;
    margin-bottom: 20px;
  }
  .fa {
    font-size: 18px;
  }
  .site-footer {
    padding: 15px 0px;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      padding: 25px 0px;
    }
  }
  .site-info {
    padding: 6px 0;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      padding: 0;
      padding: 0px 36px;
    }
  }
  .navigation {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      text-align: left;
    }

  }
  .social {
    text-align: center;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      text-align: right;
    }
  }
  .copyright {
    text-align: center;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      text-align: left;
    }
  }

}

// woocommerce
.woocommerce {
  .product_meta .posted_in {
    display: none;
  }
}

.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button {
    background-color: $nhs-red !important;
    color: white;
}
.woocommerce a.button {
  color: white !important;
}
.woocommerce input.button:hover {
  color: white !important;
}
.woocommerce ul.products li.product {

  h3 {
    font-size: 20px;
  }
  .price .amount {
    font-size: 16px;
  }
}
.woocommerce.add_to_cart_inline {
  border: 0 !important;
  .suggested-text {
    display: none;
  }
  .amount {
    display: none;
  }
}
// constant contact
.ctct-button {
  background-color: $nhs-red !important;
  color: white;
  box-shadow: none;
}
.ctct-button:hover {
  box-shadow: none;
}
//@media only screen and (min-width: $screen-xxs) { // xxs > 160px, phones
//}
// tablet break
@media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
}

// desktop break, ipad landscape break
@media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
}
@media only screen and (min-width: $screen-lg) { // large, wide > 1100px
}
